<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Bad Boyzzz</title>
  <link rel="stylesheet" href="/css/home-style.css" />

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script type="text/javascript">
      $(document).ready(function() {
      	setTimeout(function(){
      		$('body').addClass('loaded');
      		$('h1').css('color','#222222');
      	}, 2000);
      });
    </script>

</head>

<body>

  <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
              <div class="loader-section section-right"></div>

      </div>


    <div class="sign">
      <h1></h1><span class="fast-flicker"><a class="anchor" href="menu.html">B</a></span><a class="anchor" href="menu.html">ad</a><span class="flicker"><a class="anchor" href="menu.html">B</a></span><a class="anchor" href="menu.html">oyz</a><span
        class="fast-flicker2"><a class="anchor" href="menu.html">z</a></span><a class="anchor" href="menu.html">z</a></h1>
    </div>




</body>

</html>
