<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Login</title>
  </head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <link rel="stylesheet" href="/css/signup.css">
  <body>
<div class="main">
  <div class="image">
    <img src="/images/logo.png" alt="" width="280" height="280">
  </div>


    <form action="/" class="form" action="index.html" method="post">
      <input type="text" name="userName" class="form-control" placeholder="User Name" required autofocus>
      <input type="password" name="password" class="form-control" placeholder="Password" required>
      <br><br>
      <button class="btn btn-lg btn-dark btn-block" type="submit">Login he;asl</button>

    </form>
</div>



  </body>
</html>
